.b-bg {
    display: flex;
    align-items: center;
    justify-content: center;
  
    .nursing-icon {
      width: 24px;
      height: 24px;
    }
  }
  
  .fas.fa-stethoscope {
    font-size: 1.5rem;
    color: #4caf50; // Change color to match your theme
  }